.navbar{
    background-color: #e15f41;
}

.section-title{
    font-family: Pacifico, cursive;
}

.text-colored{
    color: #e15f41;
}

body{
    font-family: Roboto, sans-serif;
}

.nav-item .nav-link.active{
    background-color: azure;
    color: #e15f41;
}

.nav .nav-link, .navbar-brand, .navbar-brand:hover{
    color: azure;
}

/*botão navegação (Mobile - Tablets)*/

.navbar-toggler{
    background-color: #ffeae6;
}

/*Section Sobre*/

#section-sobre{
    background-color: #ffeae6;
}